.chat-online {
    // background: #E9EBEE;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 94vh;
    // border-left: 1px solid #bdbdbd;
    .users {
        height: 87vh;
        .friends {
            margin-bottom: 0;
            padding: 8px;
        }
        .user {
            cursor: pointer;
            display: inline-flex;
            width: 100%;
            padding: 4px;
            margin-bottom: 3px;
            .imgProfileChat {
                width: 16%;
                .profileChat {
                    width: 41px;
                    border-radius: 50%;
                }
            }
            .userNameChat {
                width: 84%;
                display: flex;
                padding-left: 10px;
                .nameChat {
                    line-height: 1;
                    margin-bottom: 0;
                    padding-top: 13px;
                    width: 92%;
                }
                .online {
                    background: rgb(66, 183, 42);
                    border-radius: 50%;
                    display: inline-block;
                    height: 6px;
                    margin-left: 4px;
                    width: 6px;
                    margin-top: 18px;
                }
                .offline {
                    background: grey;
                    border-radius: 50%;
                    display: inline-block;
                    height: 6px;
                    margin-left: 4px;
                    width: 6px;
                    margin-top: 18px;
                }
            }
        }
        .user:hover {
            background-color: #dddfe2;
            box-shadow: 1px 0 0 #eaebed inset;
        }
    }
    .section-search {
        bottom: 0;
        position: absolute;
        width: 99.5%;
        height: 7vh;
        .example-form {
            min-width: 150px;
            max-width: 500px;
            width: 100%;
            .example-full-width {
              width: 100%;
              padding: 0 11px;
            }
          }
    }
}