.write-post {
    // background: #f1f1f1;
    background: #fbfbfb;
    .textarea {
        .example-full-width {
            // width: 60%;
            width: 100%;
            textarea {
                resize: none;
            }
        }
        .btn-publish {
            height: 37px;
            button {
                float: right;
            }
        }
    }
}